/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
    background: #474954;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #fff;
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#000;
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}
#ok{
    display: inline-block;
    width: 100%;
    height:100%;
    vertical-align: middle;
    object-fit: cover;
}

/*start*/
header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
}
#wb{
    max-width: 15rem;
}
header h1{
    padding: 2rem 0;
    margin-left: 3rem;
    border: .2rem solid;
    border-color: #f3d564;
    border-radius: 0.4rem;
    background-color: #f3d564;
    color: #000;
    width: 70rem;
    font-weight: 600;
}
h3{
    padding-top: 8rem;
    text-align: center;
    padding-bottom: 1rem;
}

section ul{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 80rem;
    margin: auto;
    gap: 1rem;
    padding-bottom: 8rem;
}

form{
    display: grid;
    margin: auto;
    padding-bottom: 2rem;

}
label,select{
    margin: 0rem auto;
    width: 50rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
input{
    width: 50rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .4rem;
}
.button{
    background-color: #f3d564;
    color: white;
    display: block;
    padding: 1rem 7rem 1rem;   
    margin: 1rem auto;
    max-width: 40rem ;
    cursor: pointer;
    text-align: center;
    border-radius: 0.4rem;
    color: #000;
}
footer{
    text-align: center;
}