/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
    background: #474954;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #fff;
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#000;
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}
ul li img{
    display: inline-block;
    width: 100%;
    height:25rem;
    vertical-align: middle;
    object-fit: cover;
}

/*start*/
header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
}
@media screen and (max-width: 60rem){
    header{
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
    }
}
#wb{
    max-width: 15rem;
}
header h1{
    padding: 2rem 0;
    margin-left: 3rem;
    border: .2rem solid;
    border-color: #f3d564;
    border-radius: 0.4rem;
    background-color: #f3d564;
    color: #000;
    width: 70rem;
    font-weight: 600;
}
h2{
    padding-top: 8rem;
    text-align: center;
    padding-bottom: 1rem;
}
h3{
    text-align: center;
}
#ecriture{
    border: .2rem solid transparent;
    background-color: #222; 
    max-width: 70rem;
    padding: 4rem;
    margin: auto;
}
p{
    text-align: center;
}
section ul{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 80rem;
    margin: auto;
    gap: 1rem;
    padding-bottom: 8rem;
}

.button{
    background-color: #f3d564;
    color: white;
    display: block;
    padding: 1rem 7rem 1rem;   
    margin: 1rem auto;
    max-width: 40rem ;
    cursor: pointer;
    text-align: center;
    border-radius: 0.4rem;
    color: #000;
}
footer{
    text-align: center;
}

/*teste*/

body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;
    line-height: 1.6;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

ul figure{
    position: relative;
}
ul figure .material-icons{
    vertical-align: -.4rem;
}
span.material-icons{
    background-color: white;
    border-radius: 1rem;
}
/* Overley effect */
ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
ul figure:hover figcaption{
    transform: scale(1);
}
/* modale */
.parent-modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 40rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;
    
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #333;
    cursor: pointer;
}
